DATABASE_URL="postgresql://user:password@localhost:5432/trading_platform"
NEXTAUTH_SECRET="ixVl64jjAEq6V/5tamS4SlYvylAobV+B5BGmjnFD4iI="
NEXTAUTH_URL="https://website-limitcrypto-id.vercel.app"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
MUX_TOKEN_ID=""
MUX_TOKEN_SECRET=""
